<suite name="Test Suite">
<!--    <parameter name="testurl" value="https://shop.demoqa.com/#"/>
  <parameter name="testurl" value="https://shop.demoqa.com/#"/>-->
    <test name="Test cases" >
        <classes>
            <class name="testcases.LoginPage">
                <methods>
                    <include name="validUserlogin"/>
                    <include name="InvalidUserLogin"/>
                </methods>
            </class>
<!--            <class name="testcases.Products"/>-->
<!--            <class name="testcases.Checkout"/>-->
        </classes>
    </test>
</suite>